/*nav bar*/
nav {
  display: flex;

  justify-content: space-between;
  
  padding: 1rem;

  position: relative;
}

/*hide when horeizontal bar on mobile*/
nav ul {
  display: none;
  
  align-items: center;
  gap: 2rem;

  flex-direction: column;

  background-color: #451F55;
  border-radius: 1rem;

  padding: 1rem;
}

 .current {
  color:#F8C630;
}

/*hide checkbox*/
nav input {
  display: none;
}

nav label {
  padding: 1rem;
}

/*checkbox for ham menu*/
input:checked + ul {
  display: flex;
}

/*nav link styling*/
nav a {
  color: white;
}

.logo {
  color: white;
}
  
/*active link seems easier with js with getElement and setting a class to match with this css. Did not do, just hard coded instead with focus*/
.current {
  color:#F8C630;
}

a:hover {
  color:#F8C630;
}


/*desktopshow horizontal nav bar, moblie show vertical ham menu*/
@media screen and (width > 50rem) { 
  nav ul{
    display: flex;
    
    flex-direction: row;
    flex-wrap: wrap;
  }

  nav label{
    display: none;
  }
}